<div class="searchDirection panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Пошук маршруту
    </div>
  </div>
  <div class="inputs">
    <input type="text" class="form-control" placeholder="Місце відправлення" [(ngModel)]="query.departure">

    <input type="text" class="form-control" placeholder="Місце призначення" [(ngModel)]="query.target">
  </div>

  <br>
  <div class="form-control">
    Дата відправлення: <input type="date" [(ngModel)]="query.date">
  </div>
  <br>
  <div class="buttons">
    <button type="button" class="btn btn-primary" (click)="find()">Знайти</button>
  </div>
</div>
