<div class="searchDirection panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Пошук маршруту</h4>
    <div class="inputs">
      <div class="container">
        <div class="row">
          <div class="col col-md-6 form-group">
            <label for="departure">Станція відправлення:</label>
            <select class="form-control input-sm" name="departure" id="departure" required
                    [(ngModel)]="route.departure">
              <option [ngValue]="null"></option>
              <option *ngFor="let station of stations" [ngValue]="station">{{station.name}}</option>
            </select>
          </div>
          <div class="col col-md-6 form-group">
            <label for="departure">Станція призначення:</label>
            <select class="form-control input-sm" name="arrival" id="arrival" required
                    [(ngModel)]="route.arrival">
              <option [ngValue]="null"></option>
              <option *ngFor="let station of stations" [ngValue]="station">{{station.name}}</option>
            </select>
          </div>
        </div>

        <div class="row">
          <div class="col col-md-6 form-group">
            <label for="date">Дата відправлення:</label>
            <input class="form-control input-sm" type="datetime-local" id="date" name="date"
                   [ngModel]="route.departureTime | date:'yyyy-MM-dd'"
                   (ngModelChange)="changeTime($event)">
          </div>
        </div>

        <div class="row buttons">
          <button type="submit" class="btn btn-success" (click)="find()">Шукати</button>
        </div>
      </div>
    </div>
  </div>
</div>
