<div class="container">
  <h4>Додайте станцію в базу даних використовуючи REST</h4>
  <form class="inputs" #newStationForm="ngForm" name="newStationForm" (ngSubmit)="add(name.value)">
    <div class="container">
      <div class="row input-block">
        <label>Ім'я:
          <input class="form-control input-sm" #name type="text" required>
        </label>
        <button type="submit" class="btn btn-success" [disabled]="!newStationForm.form.valid">Додати станцію</button>
      </div>
    </div>

  </form>
</div>

