<div class="title">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
      Система бронювання квитків
    </div>
    <div class="col-sm-3 addition">
      <span>Хмельницький національний університет</span>
    </div>
  </div>
</div>
<nav>
  <a [routerLink]=" ['./'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Стартова сторінка
  </a>
  <a [routerLink]=" ['./tickets'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Забронювати квитки
  </a>
  <a [routerLink]=" ['./admin'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Адмінська сторінка
  </a>
  <a [routerLink]=" ['./about'] "
     routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Довідка
  </a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
</footer>
