html, body{
  height: 100%;
}

a.active {
  background-color: gray;
  height: 100%;
}

.global-container {
  background: #f9f9f9;
  height: 100%;
}

.title {
  text-align: center;
  background: #025aa5;
  min-height: 50px;
  color: #fff;
  padding: 2px 15px 1px;
}
