<div class="container">
  <h4>Додайте маршрут в базу даних використовуючи REST</h4>
  <form class="inputs" #newRouteForm="ngForm" name="newRouteForm" (ngSubmit)="add(newRouteForm)">
    <div class="container">
      <div class="row">
        <div class="col col-md-6 form-group">
          <label for="departure">Ст відправлення:</label>
          <select class="form-control input-sm" name="departure" id="departure" required
                  [(ngModel)]="route.departure">
            <option *ngFor="let station of stations" [ngValue]="station">{{station.name}}</option>
          </select>
        </div>

        <div class="col col-md-6 form-group">
          <label for="arrival">Ст прибуття:</label>
          <select class="form-control input-sm" name="arrival" id="arrival" required
                  [(ngModel)]="route.arrival">
            <option *ngFor="let station of stations" [ngValue]="station">{{station.name}}</option>
          </select>

        </div>
      </div>

      <div class="row">
        <div class="col form-group">
          <div class="form-control">
            <label for="date">Дата відправлення:</label>
            <input type="date" id="date" name="date"
                   [ngModel]="route.departureTime | date"
                   (ngModelChange)="route.departureTime=$event">
          </div>
        </div>
      </div>
      <br>
      <div class="row buttons">
        <button type="submit" class="btn btn-success" [disabled]="!newRouteForm.form.valid">Додати маршрут</button>
      </div>
    </div>

  </form>
</div>

