<div>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Departure city</th>
      <th>Destination city</th>
      <th>date</th>
      <th *ngIf="admin">action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let route of routes; let i = index">
      <td>{{i+1}}</td>
      <td>{{route.departure}}</td>
      <td>{{route.target}}</td>
      <td class="date" >{{route.date}}</td>
      <td *ngIf="admin" class="delete">
        <button class="btn btn-danger" (click)="remove(route)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
