.searchDirection {
  padding-bottom: 65px;
  background: #eaeef1;
}

.inputs {
  display: flex;
  justify-content: space-between;

  input {
    width: 48%;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.thead-default th {
  background-color: darkgray;
  text-align: center;
}

.date {
  text-align: center;
}

.delete {
  display:grid;
}
