<div>
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>місто відправлення</th>
      <th>місто призначення</th>
      <th>дата</th>
      <th *ngIf="admin">дія</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let route of routes; let i = index">
      <td>{{i+1}}</td>
      <td>Station {{route.departure.id}}</td>
      <td>Station {{route.arrival.id}}</td>
      <td class="date" >{{localizeDate(route.departureTime)}}</td>
      <td *ngIf="admin" class="delete">
        <button class="btn btn-danger" (click)="remove(route)">Видалити</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
