.searchDirection {
  padding-bottom: 65px;
  background: #eaeef1;
}

.inputs {
  display: flex;
  justify-content: space-between;

  input {
    width: 48%;
  }
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.admin {
  width: 1000px;
  padding: 20px;
  margin: 0 auto;
  display: block;
  background: #eaeef1;
}
