<div class="admin">
<div class="searchDirection panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Add route into the DB via REST
    </div>
  </div>
  <div class="inputs">
    <input type="text" class="form-control" placeholder="Departure station" [(ngModel)]="query.departure">

    <input type="text" class="form-control" placeholder="Target station" [(ngModel)]="query.target">
  </div>

  <br>
  <div class="form-control">
    Route date: <input type="date" [(ngModel)]="query.date">
  </div>
  <br>
  <div class="buttons">
    <button type="button" class="btn btn-primary" (click)="add()">Add</button>
  </div>
</div>

<ticket-list [routes]="routes"
             [admin]="true"
             (onRemove)="remove($event)"
             *ngIf="routes.length">
</ticket-list>
</div>
