:host {
  width: 900px;
  padding: 20px;
  margin: 0 auto;
  display: block;
  background: #eaeef1;

  .searchDirection {
    padding-bottom: 65px;
    background: #eaeef1;
  }

  .inputs {
    display: flex;
    justify-content: space-between;

    input {
      width: 48%;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;
  }
}

thead th {
  background-color: darkgray;
  text-align: center;
}

.date {
  text-align: center;
}

.delete {
  display:grid;
}

.route-description {
  display: flex;
  justify-content: space-between;
}
